body {
    height: 100vh;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#image {
    box-shadow: 0 0 10px 5px palevioletred;
    margin: 30px;
}
